<ion-header mode="md"> 
  <ion-toolbar class="primary">
  <ion-back-button slot="start" defaultHref="/tabs/complaints"  text="" icon="chevron-back-outline">
  </ion-back-button>
    <ion-title class="ion-text-center">Add Complaint</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <div addcomplaint>
     <div heading>
	   <h2>Any Complaint ?</h2>
	   <p>Please fill the detail  below if you have 
any complaint</p>
	</div>
       <div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon9.png"/>
			</ion-label>
			<ion-input type="text"  placeholder="Title"></ion-input>
			</ion-item>
		</div>
		 <div form-group>
			<ion-item lines="none">
			<ion-label labeltextarea>
			<img src="assets/img/icon10.png"/>
			</ion-label>
			<ion-textarea rows="4" placeholder="Description"></ion-textarea>
			</ion-item>
		</div>
		   <div uploadimage>
			  <div fileupload>
			   <label for="fileupload">
				 <div uploadinner>
				  <img src="assets/img/icon11.png"/><h3>Take a Picture</h3> </div></label>
				  <input type="file" id="fileupload" name="fileupload" style="display:none"/>
			  </div>
				<p>Take a picture or choose from 
			your library</p>
			</div>
		<div form-group mb-0>
			 <ion-button btn-submit  routerLink="/tabs/complaints" expand="full" color="primary">
					<span>Submit</span>
			 </ion-button>
		</div>
 </div>
</ion-content>
