<!--ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<div loginmain>
  <div loginimg>
    <div logo  class="ion-text-center">
         <img src="assets/img/logo.png"/>
      </div>
  </div>
  <div loginform class="ion-padding">
    <div heading>
	   <h2>Welcome Back</h2>
	   <p>Signup To Your Account</p>
	</div>
	<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
	   <div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon3.png"/>
			</ion-label>
			<ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.name.errors?.required">
				<ion-label no-margin stacked>Name is required.</ion-label>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.name.errors?.minlength">
				<ion-label no-margin stacked>Min 3 chars long.</ion-label>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.name.errors?.pattern">
				<ion-label no-margin stacked>Only alphabets allowed.</ion-label>
			</ion-item>
		</div>
		<div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon1.png"/>
			</ion-label>
			<ion-input type="email" formControlName="email"  placeholder="Email Address"></ion-input>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.email.errors?.required">
				<ion-label no-margin stacked>Email is required.</ion-label>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.email.errors?.pattern">
				<ion-label no-margin stacked>Enter valid email.</ion-label>
			</ion-item>
		</div>
		<div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon4.png"/>
			</ion-label>
			<ion-input type="text" maxlength="10" formControlName="phoneNo"   placeholder="Phone Number"></ion-input>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.phoneNo.errors?.required">
				<ion-label no-margin stacked>Phone number is required.</ion-label>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.phoneNo.errors?.pattern">
				<ion-label no-margin stacked>Number values allowed.</ion-label>
			</ion-item>
		</div>
		<div form-group>
			<ion-item lines="none">
				<ion-label>
					<img src="assets/img/icon6.png"/>
				</ion-label>
				<ion-select formControlName="community"  value="" [interfaceOptions]="customAlertOptions" interface="action-sheet"  placeholder="Select Community">
					<ion-select-option *ngFor="let val of allCommunities" value="{{val.id}}" >{{val.title}}</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class='form-text error'*ngIf="submitAttempt && errorCtr.community.errors?.required">
				<ion-label no-margin stacked>Please select community.</ion-label>
			</ion-item>
		</div>
		<div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon6.png"/>
			</ion-label>
			<ion-input type="text"  formControlName="buildingNo" placeholder="Building Number"></ion-input>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.buildingNo.errors?.required">
				<ion-label no-margin stacked>Building Number is required.</ion-label>
			</ion-item>
			<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.buildingNo.errors?.minlength">
				<ion-label no-margin stacked>Min 3 chars long.</ion-label>
			</ion-item>
		</div>
		<div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon7.png"/>
			</ion-label>
			<ion-input type="text" formControlName="apartmentNo" placeholder="Apartment Number"></ion-input>
			</ion-item>
			
			<ion-item class='form-text error'*ngIf="submitAttempt && errorCtr.apartmentNo.errors?.required">
				<ion-label no-margin stacked>Apartment Number is required.</ion-label>
			</ion-item>
			<ion-item class='form-text error' *ngIf="submitAttempt && errorCtr.apartmentNo.errors?.minlength">
				<ion-label no-margin stacked>Min 3 chars long.</ion-label>
			</ion-item>

		</div>
		<div form-group>
			<ion-item lines="none">
				<ion-label>
				<img src="assets/img/icon2.png"/>
				</ion-label>
				<ion-input  [type]="passwordType"   formControlName="password" placeholder="Password"></ion-input>
				<ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
			</ion-item>	
			<ion-item class='form-text error'*ngIf="submitAttempt && errorCtr.password.errors?.required">
				<ion-label no-margin stacked>Password is required.</ion-label>
			</ion-item>
			<ion-item class='form-text error' *ngIf="submitAttempt && errorCtr.password.errors?.pattern" >
				<ion-label no-margin stacked wrap-text>Password must be between 6 and 12 characters with at least one capital letter, one small letter, and one digit.</ion-label>
			 </ion-item>
			
		</div>
		<div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon2.png"/>
			</ion-label>
			<ion-input [type]="confirmPasswordType" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
			<ion-icon item-end [name]="confirmPasswordIcon" class="passwordIcon" (click)='hideShowConfirmPassword()'></ion-icon>	
		</ion-item>

			<ion-item class='form-text error'*ngIf="submitAttempt && errorCtr.confirmPassword.errors?.required">
				<ion-label no-margin stacked>Confirm Password is required.</ion-label>
			</ion-item>
			<ion-item class='form-text error' *ngIf="submitAttempt && !errorCtr.confirmPassword.errors?.required && signUpForm.hasError('mismatchedPasswords') ">
				<ion-label no-margin stacked>Passwords do not match</ion-label>
			</ion-item>
		</div>
		<div form-group>
			<ion-button btn-signup  type="submit" expand="full" color="primary">
					<span>Signup</span>
			</ion-button>
			<div btn-login class="ion-text-center">
			<p>Already have an account? <a href="javascript:void(0)" routerLink="/login">Login</a></p>

			</div>
  		</div>
	</form>
</div>
</div>
</ion-content>
