<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="complaints">
     <img inactive src="assets/img/tabicon1.png">
      <img active src="assets/img/tabicon1-1.png">
    </ion-tab-button>
    <ion-tab-button tab="messages">
       <img inactive src="assets/img/tabicon2.png">
      <img active src="assets/img/tabicon2-1.png">     
    </ion-tab-button>
    <ion-tab-button tab="home" home>
      <span>
      <img src="assets/img/tabicon3.png">
      </span>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <img inactive src="assets/img/tabicon4.png">
      <img active src="assets/img/tabicon4-1.png">    
    </ion-tab-button>
	<ion-tab-button tab="settings">
      <img inactive src="assets/img/tabicon5.png">
      <img active src="assets/img/tabicon5-1.png">    
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
