<ion-header mode="md"> 
  <ion-toolbar class="primary">
 <ion-back-button slot="start" defaultHref="/tabs/home"  text="" icon="chevron-back-outline">
  </ion-back-button>
    <ion-title class="ion-text-center">
	  <ion-item lines="none" class="ion-no-padding">
	    <ion-avatar><span>A</span></ion-avatar>
		<ion-label>
		  <h2>Andrew James</h2>
		  <p>andrewjames@gamil.com</p>
		</ion-label>
	  </ion-item>
	</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div receiver>
  <div chatleft>
     <ion-icon name="checkmark-done-outline"></ion-icon>
     <p>09:54 PM</p>
   </div> 
   <div chatright>
     <p>Hello john  </p>
   </div>
</div>
<div sender>
  <div chatleft>
     <p>Yeh... We need to porem lorem 
sit that typeprinting!</p>
   </div>
  <div chatright>
     <p>09:55 PM</p>
   </div> 
</div>
<div sender>
  <div chatleft>
     <p>Will sit amet dummy content typeprinting in the perspiciatis .</p>
   </div>
  <div chatright>
     <p>09:56 PM</p>
   </div> 
</div>
<div receiver>
  <div chatleft>
     <ion-icon name="checkmark-done-outline"></ion-icon>
     <p>09:58 PM</p>
   </div> 
   <div chatright>
     <p>Bye ! Good night and tc !</p>
   </div>
</div>
</ion-content>
<ion-footer>
<div commentbox>
  <ion-item lines="none">
  <ion-input type="text" placeholder="Write Message....."></ion-input>
  <ion-icon attachment name="attach-outline"></ion-icon>
  </ion-item>
<ion-buttons iconright><ion-icon name="paper-plane"></ion-icon></ion-buttons>
</div>
</ion-footer>