<ion-header mode="md"> 
  <ion-toolbar class="primary">
  <ion-buttons slot="start">
     <ion-toggle checked=""></ion-toggle>
  </ion-buttons>
    <ion-title class="ion-text-center">Residents</ion-title>
	<ion-buttons slot="end">
	  <ion-icon name="search-outline"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div residents class="ion-padding">
	<ion-item class="ion-no-padding" lines="none">
		<ion-label>
			<h2>John Smith</h2>
			<p><img src="assets/img/location.png"/> Street 12 apartment building newyork , USA 
			13246</p>
			<div btnbottom>
                  <ion-buttons btnphone>
				   <ion-icon name="call-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnchat>
				     <ion-icon name="chatbubble-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnnotification>
				    <ion-icon name="notifications-outline"></ion-icon>
                  </ion-buttons>
			</div>
		</ion-label>
	</ion-item>
	<ion-item class="ion-no-padding" lines="none">
		<ion-label>
			<h2>David Jones</h2>
			<p><img src="assets/img/location.png"/> Street 12 apartment building newyork , USA 
			13246</p>
			<div btnbottom>
                  <ion-buttons btnphone>
				   <ion-icon name="call-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnchat>
				     <ion-icon name="chatbubble-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnnotification>
				    <ion-icon name="notifications-outline"></ion-icon>
                  </ion-buttons>
			</div>
		</ion-label>
	</ion-item><ion-item class="ion-no-padding" lines="none">
		<ion-label>
			<h2>Maria James</h2>
			<p><img src="assets/img/location.png"/> Street 12 apartment building newyork , USA 
			13246</p>
			<div btnbottom>
                  <ion-buttons btnphone>
				   <ion-icon name="call-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnchat>
				     <ion-icon name="chatbubble-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnnotification>
				    <ion-icon name="notifications-outline"></ion-icon>
                  </ion-buttons>
			</div>
		</ion-label>
	</ion-item>
	<ion-item class="ion-no-padding" lines="none">
		<ion-label>
			<h2>Andrew Philip</h2>
			<p><img src="assets/img/location.png"/> Street 12 apartment building newyork , USA 
			13246</p>
			<div btnbottom>
                  <ion-buttons btnphone>
				   <ion-icon name="call-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnchat>
				     <ion-icon name="chatbubble-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnnotification>
				    <ion-icon name="notifications-outline"></ion-icon>
                  </ion-buttons>
			</div>
		</ion-label>
	</ion-item>
	<ion-item class="ion-no-padding" lines="none">
		<ion-label>
			<h2>John Smith</h2>
			<p><img src="assets/img/location.png"/> Street 12 apartment building newyork , USA 
			13246</p>
			<div btnbottom>
                  <ion-buttons btnphone>
				   <ion-icon name="call-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnchat>
				     <ion-icon name="chatbubble-outline"></ion-icon>
                  </ion-buttons>
				   <ion-buttons btnnotification>
				    <ion-icon name="notifications-outline"></ion-icon>
                  </ion-buttons>
			</div>
		</ion-label>
	</ion-item>
</div>
</ion-content>
