<!--ion-header>
  <ion-toolbar>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<div loginmain>
  <div loginimg>
    <div logo  class="ion-text-center">
         <img src="assets/img/logo.png"/>
      </div>
  </div>
  <div loginform class="ion-padding">
    <div heading>
	   <h2>Reset Password</h2>
	   <p>Please fill the details below to reset your password</p>
	</div>
	   <div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon2.png"/>
			</ion-label>
			<ion-input type="password"  placeholder="New Password"></ion-input>
			</ion-item>
		</div>
		<div form-group>
			<ion-item lines="none">
			<ion-label>
			<img src="assets/img/icon2.png"/>
			</ion-label>
			<ion-input type="password"  placeholder="Confirm Password"></ion-input>
			</ion-item>
		</div>
		<div form-group>
	     <ion-button btn-reset expand="full" color="primary">
				<span>Reset Password</span>
		</ion-button>
		</div>
		<div btn-forgot class="ion-text-center">
		<p>Back To <a href="javascript:void(0)" routerLink="/forgotpassword">Forgot</a></p>
		</div>
  </div>
</div>
</ion-content>
