<ion-header mode="md">
   	<ion-toolbar class="primary">
      	<ion-title class="ion-text-center">Complaints</ion-title>
		<ion-buttons (click)="toggleClass()" slot="end">
			<ion-icon name="search-outline"></ion-icon>
		</ion-buttons>
   	</ion-toolbar>
	<div  *ngIf="hideMe" search>
		<ion-searchbar [(ngModel)]="searchQuery" (search)="filterComplaints($event)" autocorrect="off" showCancelButton="focus" mode="md" placeholder="Search Complaints..." ></ion-searchbar>
  	</div>
	<div *ngIf="searching" class="spinner-container">
    	<ion-spinner></ion-spinner>
  	</div>
</ion-header>
<ion-content>
   	<div complaintsmain  class="ion-padding">
      	<ion-segment mode="md"   (ionChange)="segmentChanged($event)" value="pending">
         	<ion-segment-button value="pending">
            	<ion-label>Pending</ion-label>
         	</ion-segment-button>
         	<ion-segment-button value="completed">
            	<ion-label>Completed</ion-label>
         	</ion-segment-button>
      	</ion-segment>
      	<ion-list *ngIf="segment === 'pending'">
			
			<ng-container *ngIf="pendingData">
				<ion-card class="ion-no-margin" *ngFor ="let data of pendingData" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span>{{ data?.name.charAt(0) }}</span></ion-avatar>
						<ion-label>
							<h2>{{ data?.name }}</h2>
							<p>{{ data?.apartmentNo }} {{ data?.buildingNo }} {{ data?.communityTitle }} </p>
						</ion-label>
						<div btnright slot="end">
							<ion-buttons (click)="openDialer(data?.phoneNo);"  btncall ><ion-icon name="call-outline"></ion-icon></ion-buttons>			   
							<ion-buttons routerLink="/complaintdetail/{{ data?.complaintID  }}"  btnview><ion-icon name="eye-outline"></ion-icon></ion-buttons>
						</div>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2>{{ data?.complainttitle  }}</h2>
						<p>{{ data.complaintContent.slice(0, 60) + (data.complaintContent.length > 60 ? '...' : '')}}</p>
					</ion-card-content>
				</ion-card>
				<ion-infinite-scroll *ngIf="isMoreRecords" threshold="100px" (ionInfinite)="getPendingComplaints($event,'1')">
						<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</ng-container>	 

			<div *ngIf="is_loaded === true" class="alert alert-danger" role="alert" style="padding-top: 70px;color: red;font-size: 17px;text-align: center;font-weight: 600;" >
				No pending complaints found!
			</div>

			<ng-container *ngIf="!pendingData">
				<ion-card class="ion-no-margin" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>
						<div btnright slot="end">
							<ion-buttons btncall><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>			   
							<ion-buttons   btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
						</div>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
				<ion-card class="ion-no-margin" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>
						<div btnright slot="end">
							<ion-buttons btncall><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>			   
							<ion-buttons   btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
						</div>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
				<ion-card class="ion-no-margin" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>
						<div btnright slot="end">
							<ion-buttons btncall><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>			   
							<ion-buttons   btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
						</div>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
				<ion-card class="ion-no-margin" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>
						<div btnright slot="end">
							<ion-buttons btncall><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>			   
							<ion-buttons   btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
						</div>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
			</ng-container>


      	</ion-list>
    	<ion-list *ngIf="segment === 'completed'">
			<ng-container *ngIf="completedData" >
				<ion-card class="ion-no-margin" *ngFor ="let data of completedData" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span>{{ data?.name.charAt(0) }}</span></ion-avatar>
						<ion-label>
							<h2>{{ data?.name }}</h2>
							<p>{{ data?.apartmentNo }} {{ data?.buildingNo }} {{ data?.communityTitle }}</p>
						</ion-label>
						<div btnright slot="end">
							<ion-buttons (click)="openDialer(data?.phoneNo);"  btncall ><ion-icon name="call-outline"></ion-icon></ion-buttons>			   
							<ion-buttons routerLink="/complaintdetail/{{ data?.complaintID  }}"  btnview><ion-icon name="eye-outline"></ion-icon></ion-buttons>
						</div>		   
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2>{{ data?.complainttitle  }}</h2>
						<p>{{ data.complaintContent.slice(0, 60) + (data.complaintContent.length > 60 ? '...' : '')}}</p>
					</ion-card-content>
				</ion-card>

				<ion-infinite-scroll *ngIf="isMoreRecordsCompleted" threshold="100px" (ionInfinite)="getCompletedComplaints($event,'1')">
						<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</ng-container>
			<div *ngIf="is_completedloaded === true" class="alert alert-danger" role="alert" style="padding-top: 70px;color: red;font-size: 17px;text-align: center;font-weight: 600;" >
				No pending complaints found!
			</div>
			<ng-container *ngIf="!completedData" >
				<ion-card class="ion-no-margin" *ngFor ="let data of completedData" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>		   
						<ion-buttons slot="end" btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
				<ion-card class="ion-no-margin" *ngFor ="let data of completedData" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>		   
						<ion-buttons slot="end" btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
				<ion-card class="ion-no-margin" *ngFor ="let data of completedData" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>		   
						<ion-buttons slot="end" btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
				<ion-card class="ion-no-margin" *ngFor ="let data of completedData" >
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar avatarbg1><span><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></span></ion-avatar>
						<ion-label>
							<h2><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h2>
							<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
							<p><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></p>
						</ion-label>		   
						<ion-buttons slot="end" btnview><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-buttons>
					</ion-item>
					<ion-card-content class="ion-no-padding">
						<h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
						<p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
						<p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
					</ion-card-content>
				</ion-card>
			</ng-container>


	     		 
	   	</ion-list>
  	</div>
</ion-content>