<ion-content>
	<div loginmain>
		<div loginimg>
			<div logo  class="ion-text-center">
				<img src="assets/img/logo.png"/>
			</div>
		</div>
		<div loginform class="ion-padding">

			<ng-container *ngIf="step == '1'">
			<div heading>
				<h2>Forgot Password</h2>
				<p>Please fill the registered email address below to reset password</p>
			</div>
			<form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" novalidate>
				<div form-group>
					<ion-item lines="none">
					<ion-label>
					<img src="assets/img/icon1.png"/>
					</ion-label>
					<ion-input formControlName="email" type="email"  placeholder="Email Address"></ion-input>
					</ion-item>
					<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.email.errors?.required">
						<ion-label no-margin stacked>Email is required.</ion-label>
					</ion-item>
					<ion-item class="form-text error" *ngIf="submitAttempt && errorCtr.email.errors?.pattern">
						<ion-label no-margin stacked>Enter valid email.</ion-label>
					</ion-item>
				</div>
					
				<div form-group>
					<ion-button btn-reset  type="submit" expand="full" color="primary">
							<span>Reset Password</span>
					</ion-button>
				</div>
			</form>
			</ng-container>

			<ng-container *ngIf="step == '2'">

				<div heading>
					<h2>Verify OTP</h2>
					<p>Enter OTP sent on your email address</p>
				</div>
				<form [formGroup]="verifyOTP" (ngSubmit)="onVerifyOTP()" novalidate>
					<div form-group>
						<ion-item  class="ion-no-padding">
							<ion-label >
									<ion-icon name="code"></ion-icon>
							</ion-label>
							<ion-input formControlName="otp" placeholder="Enter OTP"></ion-input>
						</ion-item>
						<ion-item class="form-text error" *ngIf="submitAttemptOTP && errorCtrOTP.otp.errors?.required">
							<ion-label no-margin stacked>Please enter OTP.</ion-label>
						</ion-item>
					</div>
						
					<div form-group>
						<ion-button btn-reset  type="submit" expand="full" color="primary">
								<span>Verify OTP</span>
						</ion-button>
					</div>
				</form>
				
			</ng-container>

			<ng-container *ngIf="step == '3'">
				<div heading>
					<h2>Reset Password</h2>
					<p>Create your new password</p>
				</div>
				<form [formGroup]="resetPassword" (ngSubmit)="onResetPassword()" novalidate>
					<div form-group>
						<ion-item lines="none">
							<ion-label>
								<img src="assets/img/icon2.png"/>
							</ion-label>
							<ion-input  [type]="passwordType"   formControlName="password" placeholder="Password"></ion-input>
							<ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
						</ion-item>	
						<ion-item class='form-text error'*ngIf="submitPasswordAttempt && errorPasswordCtr.password.errors?.required">
							<ion-label no-margin stacked>Password is required.</ion-label>
						</ion-item>
						<ion-item class='form-text error' *ngIf="submitPasswordAttempt && errorPasswordCtr.password.errors?.pattern" >
							<ion-label no-margin stacked wrap-text>Password must be between 6 and 12 characters with at least one capital letter, one small letter, and one digit.</ion-label>
						</ion-item>
					</div>
					<div form-group>
						<ion-item lines="none">
							<ion-label>
							<img src="assets/img/icon2.png"/>
							</ion-label>
							<ion-input [type]="confirmPasswordType" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
							<ion-icon item-end [name]="confirmPasswordIcon" class="passwordIcon" (click)='hideShowConfirmPassword()'></ion-icon>	
						</ion-item>
						<ion-item class='form-text error'*ngIf="submitPasswordAttempt && errorPasswordCtr.confirmPassword.errors?.required">
							<ion-label no-margin stacked>Confirm Password is required.</ion-label>
						</ion-item>
						<ion-item class='form-text error' *ngIf="submitPasswordAttempt && !errorPasswordCtr.confirmPassword.errors?.required && resetPassword.hasError('mismatchedPasswords') ">
							<ion-label no-margin stacked>Passwords do not match</ion-label>
						</ion-item>
					</div>
					<div form-group>
					<ion-button btn-reset  type="submit" expand="full" color="primary">
							<span>Reset Password</span>
					</ion-button>
					</div>
				</form>
			</ng-container>

			<div btn-forgot class="ion-text-center">
				<p>Back To <a href="javascript:void(0)" routerLink="/login">Login</a></p>
			</div>

		</div>
	</div>
</ion-content>
