<ion-header mode="md">
   <ion-toolbar class="primary">
      <ion-title class="ion-text-center">Messages</ion-title>
      <ion-buttons slot="end">
         <ion-icon name="search-outline"></ion-icon>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 <ion-item lines="none" class="ion-no-padding" routerLink="/chat">
	         <ion-avatar avatarbg1>
			   <span>D</span>
			 </ion-avatar>
			 <ion-label>
			   <div heading><h2>Demi Lovato</h2> <ion-note>5 min ago</ion-note></div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			 </ion-label>
 </ion-item>
  <ion-item lines="none" class="ion-no-padding" routerLink="/chat">
	         <ion-avatar avatarbg2>
			   <span>A</span>
			 </ion-avatar>
			 <ion-label>
			   <div heading><h2>Alex Kantrowitz</h2> <ion-note>7 min ago</ion-note></div>
			  <p>Yeh... We need to porem lorem sit that typeprinting!</p>
			 </ion-label>
 </ion-item>
  <ion-item lines="none" class="ion-no-padding" routerLink="/chat">
	         <ion-avatar avatarbg1>
			   <span>A</span>
			 </ion-avatar>
			 <ion-label>
			   <div heading><h2>Andrew Kimmel</h2> <ion-note>9 min ago</ion-note></div>
			  <p>Will sit amet dummy content typeprinting in the perspiciatis.</p>
			 </ion-label>
 </ion-item>
  <ion-item lines="none" class="ion-no-padding" routerLink="/chat">
	         <ion-avatar avatarbg2>
			   <span>J</span>
			 </ion-avatar>
			 <ion-label>
			   <div heading><h2>Johnson Charles</h2> <ion-note>12 min ago</ion-note></div>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			 </ion-label>
 </ion-item>
  <ion-item lines="none" class="ion-no-padding" routerLink="/chat">
	         <ion-avatar avatarbg1>
			   <span>S</span>
			 </ion-avatar>
			 <ion-label>
			   <div heading><h2>Stephen James</h2> <ion-note>15 min ago</ion-note></div>
			  <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
			 </ion-label>
 </ion-item>
</ion-content>
